<section class='grid-middle bg-dark'>
    <div class='col-6 padded'>
        <h2 class='padded-b'>Restaurante Pork Belly</h2>
        <p class='padded-b'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ratione, nostrum mollitia numquam hic cupiditate quam et amet possimus sit itaque dolor laudantium aspernatur necessitatibus ipsam natus esse ab? Soluta.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ratione, nostrum mollitia numquam hic cupiditate quam et amet possimus sit itaque dolor laudantium aspernatur necessitatibus ipsam natus esse ab? Soluta.</p>
    </div>
    <div class='col-6 padded'>
        <div class='bg-restaurante tall-30 square'></div>
    </div>
</section>


<section class='grid-middle bg-dark'>
    <div class='col-6 padded'>
        <div class='bg-restaurante tall-30 square'></div>
    </div>
    <div class='col-6 padded'>
        <h2 class='padded-b'>Pork Belly Tacos & Cocktails</h2>
        <p class='padded-b'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ratione, nostrum mollitia numquam hic cupiditate quam et amet possimus sit itaque dolor laudantium aspernatur necessitatibus ipsam natus esse ab? Soluta.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ratione, nostrum mollitia numquam hic cupiditate quam et amet possimus sit itaque dolor laudantium aspernatur necessitatibus ipsam natus esse ab? Soluta.</p>
    </div>
    
</section>