<section class='bg-black grid-spaceAround-middle navbar'>
    <nav class='col-4 right'>
        <a href='/restaurante.html'>Restaurante</a>
        <a href='/tacos.html' class="padded-l-2">Tacos & Cocktails</a>
    </nav>
    <div class='col-2 center'>
        <a href='/index.html'>
        <img src='/images/knife-transparent-white.png' width='150'>
        </a>
    </div>
    <nav class=col-4 left>
        <a href='/galeria.html'>Galeria</a>
        <a href='/contacto.html' class='padded-l-2 padded-r-2'>Contact</a>
        <a href='https://www.facebook.com/PorkBellysma' target='_blank'  >  <i class="fab fa-facebook"></i></a> 
        <a href='https://www.instagram.com/porkbelly_sma/?hl=es' target='_blank' > <i class="fab fa-instagram "></i></a> 
        <a href='https://wa.me/524151006132' target='_blank'> <i class="fab fa-whatsapp "></i></a>
    </nav>
</section>

<section class='banner grid-spaceAround bg-overlay'>
    <div class='col-6 center pb-logo'>
    </div>
</section>



