<section class='bg-dark'>
    <div>
        <h2 class='padded center'>Que dicen de nosotros</h2>
    </div>


<div class='slider-container padded'>
    <div class='slider-item'>
        <p class='testimonial'>Una delicia de cocina! Las costillas BBQ son un manjar. No pueden perderse la entrada de pulpo! Excelente atención y ambiente. </p>
    </div>
    <div class='slider-item'>
        <p class='testimonial'>Un excelente lugar con platillos exquisitos que valen la pena! 100% recomendado en especial el tuétano es lo más rico del mundo!</p>
    </div>
    <div class='slider-item'>
        <p class='testimonial'>Excelente lugar para disfrutar de sus delicias que sirven, la atención muy buena y los alimentos muy ricos, me gusto mucho así que regresaré pronto</p>
    </div>
</div>

</section>